@model WebApp.Dtos.Appointment.AppointmentIndexDto

@{
    ViewBag.Title = "afspraken";
    Layout = "_Layout";
}

<h2>Afspraken</h2>
<form>
    <input type="date" name="day" id="day" value="@DateTime.Today.ToString("yyyy-MM-dd")">
    <input type="submit">
</form>
@await Html.PartialAsync("_Appointments", Model.AppointmentViewDtos)
@await Html.PartialAsync("_Treatment", Model.treatmentViewDtos)

<script>
window.onload = function () {
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has("day")){
        $("#day").val(urlParams.get("day"))
    }
}
</script>