# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- checkout: self
- task: DotNetCoreCLI@2
  displayName: New Manifest for tool
  inputs:
    command: custom
    custom: 'new '
    arguments: tool-manifest
- task: DotNetCoreCLI@2
  displayName: Install EF Tool
  inputs:
    command: custom
    custom: 'tool '
    arguments: install dotnet-ef
- task: DotNetCoreCLI@2
  displayName: Restore
  inputs:
    command: restore
    projects: '**/*.csproj'
    
- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    projects: '**/*.csproj'
    arguments: --configuration $(BuildConfiguration)

- task: DotNetCoreCLI@2
  inputs:
    command: 'test'
    projects: '**/*Tests.csproj'
    testRunTitle: 'DomainTest'

- task: DotNetCoreCLI@2
  displayName: Create SQL Scripts Stam
  inputs:
    command: custom
    custom: 'ef '
    arguments: migrations script --output /SQL/stamdbscript.sql --idempotent --project ./Infrastructure.DB/Infrastructure.DB.csproj  --context StamDbContext

- task: DotNetCoreCLI@2
  displayName: Create SQL Scripts Identity
  inputs:
    command: custom
    custom: 'ef '
    arguments: migrations script --output /SQL/identitydbscript.sql --idempotent --project ./Infrastructure.DB/Infrastructure.DB.csproj  --context SecurityDbContext


- task: DotNetCoreCLI@2
  displayName: Create SQL Scripts Aplication
  inputs:
    command: custom
    custom: 'ef '
    arguments: migrations script --output /SQL/applicationdbscript.sql --idempotent --project ./Infrastructure.DB/Infrastructure.DB.csproj --context ApplicationDbContext

- task: DotNetCoreCLI@2
  displayName: Publish
  inputs:
    command: publish
    publishWebProjects: True
    projects: $(BuildParameters.RestoreBuildProjects)
    arguments: --configuration $(BuildConfiguration) --output $(build.artifactstagingdirectory)
    zipAfterPublish: True
- task: PublishBuildArtifacts@1
  displayName: Publish Artifact
  condition: succeededOrFailed()
  inputs:
    PathtoPublish: $(build.artifactstagingdirectory)
    TargetPath: '\\my\share\$(Build.DefinitionName)\$(Build.BuildNumber)'
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: SQLScripts'
  inputs:
    PathtoPublish: $(Build.SourcesDirectory)/SQL/tododbscript.sql
    ArtifactName: SQLScripts