@model WebApp.Dtos.Patient.PatientDto
@Html.ValidationSummary(false, "", new {@class = "text-danger"})
<form asp-action="Create" asp-controller="Patient" method="Post" enctype="multipart/form-data" id="CreatePatientForm" ajax replace-id="partialViewWrapper">

    <div id="partialViewWrapper">
        @await Html.PartialAsync("_Form", Model)
    </div>
</form>