@using ApplicationServices.ExtensionMethods
@model WebApp.Dtos.Comment.ViewCommentDto

<tr>
    <th>@Model.CreatedBy.GetFormattedName()</th>
    @if (Model.IsVisiblePatient)
    {
        <td>Ja</td>
    }
    else
    {
        <td>Nee</td>
    }
    <td>@Model.CommentBody</td>
</tr>