@using Core.Domain.Models
@model IEnumerable<Core.Domain.Models.User>

@foreach (var item in Model)
{
    <option value="@Html.DisplayFor(modelItem => item.Id )">
        @Html.DisplayFor(modelItem => item.LastName ) , 
        @Html.DisplayFor(modelItem => item.FirstName )
    </option>
}
