@using WebApp.Dtos.Treatment
@model IEnumerable<WebApp.Dtos.Treatment.TreatmentViewDto>
<div class="card">
    <div class="card-header">
        Behandelingen
    </div>
    <table class="table" id="">
        <thead>
        <tr>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Description</th>
            <th scope="col">Roomtype</th>
            <th scope="col">excecuted By:</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (TreatmentViewDto treatmentViewDto in Model)
        {
            @await Html.PartialAsync("_TreatmentRow", treatmentViewDto)
            ;
        }
        </tbody>
    </table>
</div>