@model WebApp.Dtos.Treatment.CreateTreatmentDto
<input type="hidden" value="@Model.DossierId" asp-for="DossierId">
<div class="form-group">
    <label asp-for="TreatmentDate" class="control-label"></label>
    <input type="datetime-local" class="form-control" asp-for="TreatmentDate">
    <span asp-validation-for="TreatmentDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PracticionerId" class="control-label"></label>
    <select class="form-control" asp-for="PracticionerId" asp-items="Model.Staff">
    </select>
    <span asp-validation-for="PracticionerId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="TreatmentCodeId" class="control-label"></label>
    <select class="form-control" asp-for="TreatmentCodeId" asp-items="Model.Treatments">
    </select>
    <span asp-validation-for="TreatmentCode" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <textarea asp-for="Description" class="form-control"/> </textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
 
<div class="form-group">
    <label asp-for="Room" class="control-label"></label>
    <select class="form-control" asp-for="Room">
        <option value="PracticeHall">Practice Hall</option>
        <option value="TreatmentRoom">Treatment Room</option>
    </select>
    <span asp-validation-for="Room" class="text-danger"></span>
</div>

<div class="col">
    <div class="form-group">
        <input type="submit" value="afspraak aanmaken" class="btn btn-primary btn-user btn-block"/>
    </div>
</div>