@model WebApp.Dtos.Dossier.CreateDossierDto
@Html.ValidationSummary(false, "", new {@class = "text-danger"})
<form asp-action="Create" asp-controller="Dossier" method="Post" enctype="multipart/form-data" id="CreateDossierForm">
    <div class="form-group">
        <label asp-for="PatientId" class="control-label"></label>
        <select class="form-control" asp-for="PatientId" asp-items="Model.Patients">
            <option onclick="OpenPatientDialog()">Add new patient</option>
        </select>
        <span asp-validation-for="PatientId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IntakeById" class="control-label"></label>
        <select class="form-control" asp-for="IntakeById" asp-items="Model.Staff">
        </select>
        <span asp-validation-for="IntakeById" class="text-danger"></span>
    </div>
    
        <div class="form-group">
            <label asp-for="SupervisedBy" class="control-label"></label>
            <select class="form-control" asp-for="SupervisedBy" asp-items="Model.Staff">
                <option value="" selected></option>
            </select>
            <span asp-validation-for="SupervisedBy" class="text-danger"></span>
        </div>

    <div class="form-group">
        <label asp-for="DiagnoseCodeId" class="control-label"></label>
        <select class="form-control" asp-for="DiagnoseCodeId" asp-items="Model.Diagnoses">
        </select>
        <span asp-validation-for="DiagnoseCodeId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"/> </textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

            <div class="form-group">
                <label asp-for="HeadPracticionerId" class="control-label"></label>
                <select class="form-control" asp-for="HeadPracticionerId" asp-items="Model.Staff">
                </select>
                <span asp-validation-for="HeadPracticionerId" class="text-danger"></span>
            </div>
    
    <div class="form-group">
        <label asp-for="IsStudent" class="control-label"></label>
        <select class="form-control" asp-for="IsStudent">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <span asp-validation-for="IsStudent" class="text-danger"></span>
    </div>
    
    <div class="form-group">
            <label asp-for="AdmissionDate" class="control-label"></label>
            <input type="date" class="form-control" asp-for="AdmissionDate">
            <span asp-validation-for="AdmissionDate" class="text-danger"></span>
    </div>
    
    @* <div class="form-group"> *@
    @*     <label asp-for="LastName" class="control-label"></label> *@
    @*     <input asp-for="LastName" class="form-control"/> *@
    @*     <span asp-validation-for="LastName" class="text-danger"></span> *@
    @* </div> *@
    @* <div class="form-group"> *@
    @*     <label asp-for="Email" class="control-label"></label> *@
    @*     <input asp-for="Email" class="form-control"/> *@
    @*     <span type="email" asp-validation-for="Email" class="text-danger"></span> *@
    @* </div> *@
    @* <div class="form-group"> *@
    @*     <label asp-for="IdNumber" class="control-label"></label> *@
    @*     <input class="form-control" asp-for="IdNumber"> *@
    @*     <span asp-validation-for="IdNumber" class="text-danger"></span> *@
    @* </div> *@
    @* <div class="form-group"> *@
    @*     <label asp-for="PhoneNumber" class="control-label"></label> *@
    @*     <input class="form-control" asp-for="PhoneNumber"> *@
    @*     <span asp-validation-for="PhoneNumber" class="text-danger"></span> *@
    @* </div> *@
    @* <div class="form-group"> *@
    @*     <label asp-for="BirthDay" class="control-label"></label> *@
    @*     <input type="date" class="form-control" asp-for="BirthDay"> *@
    @*     <span asp-validation-for="BirthDay" class="text-danger"></span> *@
    @* </div> *@
    @* <div class="form-group"> *@
    @*     <label asp-for="Picture" class="control-label"></label> *@
    @*     <input type="file" asp-for="Picture" class="form-control"/> *@
    @*     <span asp-validation-for="Picture" class="text-danger"></span> *@
    @* </div> *@
    @* <div class="form-group"> *@
    @*     <label asp-for="Gender" class="control-label"></label> *@
    @*     <select class="form-control" asp-for="Gender"> *@
    @*         <option value="Male">Male</option> *@
    @*         <option value="Female">Female</option> *@
    @*         <option value="Other">Other</option> *@
    @*     </select> *@
    @*     <span asp-validation-for="Gender" class="text-danger"></span> *@
    @* </div> *@

    <div class="col">
        <div class="form-group">
            <input type="submit" value="Register Account" class="btn btn-primary btn-user btn-block"/>
        </div>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="PatientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">AddPatient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
            <span id="CreatePartial">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
            </span>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>

function OpenPatientDialog(){
    console.log("ligma")
    $('#PatientModal').modal({
    show: true
    });
    $.get('/Patient/CreatePartial' , function(data) {
    /* data is the pure html returned from action method, load it to your page */
    $('#CreatePartial').html(data);
    /* little fade in effect */
    $('#CreatePartial').fadeIn('fast');
    });

    }
window.onload = function () {
    
$.get('/Dossier/Doctors' , function(data) {
/* data is the pure html returned from action method, load it to your page */
$('#placeholderDoctors').html(data);
/* little fade in effect */
$('#placeholderDoctors').fadeIn('fast');
});

}

</script>