@using Core.Domain.Models
@model IEnumerable<Core.Domain.Models.Dossier>

@{
    ViewBag.Title = "Dossiers";
    Layout = "_Layout";
}
<h2>Dossiers</h2>
<div class="row">
@foreach (Dossier dossier in Model)
{
    await Html.RenderPartialAsync("_DossierRow", dossier);
}
    <div class="col">
        <div class="card h-100" style="width: 18rem;">
            <a asp-controller="Dossier" asp-action="Create" class="btn btn-primary h-100"> Create</a>
        </div>
    </div>

</div>