@model WebApp.Dtos.Auth.StudentRegisterDto
@{
    await Html.RenderPartialAsync("_Register");
}
<div class="form-group">
    <label asp-for="StudentNumber" class="control-label"></label>
    <input asp-for="StudentNumber" class="form-control"/>
    <span asp-validation-for="StudentNumber" class="text-danger"></span>
</div>