@model WebApp.Dtos.Auth.DoctorRegisterDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>aanpassen</h2>
@Html.ValidationSummary(false, "", new {@class = "text-danger"})
<form class="row" asp-action="" method="Post" enctype="multipart/form-data" id="registerForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col">

        @await Html.PartialAsync("_DoctorRegister", Model)
    </div>
    <div class="col">
        <div class="form-group">
            <input type="submit" value="account aanpassen" class="btn btn-primary btn-user btn-block"/>
        </div>
    </div>

</form>