@model WebApp.Dtos.Auth.RegisterDto

<!DOCTYPE html>

<html>
<head>
    <title>Register</title>
</head>
<body>
<div class="d-flex justify-content-center">
    <div class="card text-center">
        <div class="card-header">
            Registreer
        </div>
        <div class="card-body">
            <div>

                <label for="registerType">Registreer als Type:</label>
                <select name="registerType" id="registerType">
                    <option value="">None</option>
                    <option value="Patient">Patient</option>
                    @* <option value="PatientSelf">Patient Self</option> *@
                    <option value="student">Student</option>
                    <option value="doctor">Doctor</option>
                </select>
                @Html.ValidationSummary(false, "", new {@class = "text-danger"})
                <form class="row" asp-action="" method="Post" enctype="multipart/form-data" id="registerForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col">
                        <span id="PlaceHolder" style="display:none;"> </span>

                    </div>
                    <div class="col">
                        <div class="form-group">
                            <input type="submit" value="Register Account" class="btn btn-primary btn-user btn-block"/>
                        </div>
                    </div>

                </form>

                <div class="text-center">
                    @Html.ActionLink("Already have an account? Login!", "Login", "Account")
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
$('#registerType').change( function() {

     /* Get the selected value of dropdownlist */
     var selectedID = $(this).val();
     if (selectedID !== ""){
         
       $('#registerForm').attr('action', '/Account/PostRegister'+selectedID)
     /* Request the partial view with .get request. */
     $.get('/Account/' + selectedID , function(data) {

         /* data is the pure html returned from action method, load it to your page */
         $('#PlaceHolder').html(data);
         /* little fade in effect */
         $('#PlaceHolder').fadeIn('fast');
     });
     }

});

</script>
</html>