@model WebApp.Dtos.Auth.PatientRegisterDto

@* <div class="form-group"> *@
@*     <label asp-for="FirstName" class="control-label"></label> *@
@*     <input asp-for="FirstName" class="form-control"/> *@
@*     <span asp-validation-for="FirstName" class="text-danger"></span> *@
@* </div> *@
@* <div class="form-group"> *@
@*     <label asp-for="Preposition" class="control-label"></label> *@
@*     <input asp-for="Preposition" class="form-control"/> *@
@*     <span asp-validation-for="Preposition" class="text-danger"></span> *@
@* </div>í *@
@* <div class="form-group"> *@
@*     <label asp-for="LastName" class="control-label"></label> *@
@*     <input asp-for="LastName" class="form-control"/> *@
@*     <span asp-validation-for="LastName" class="text-danger"></span> *@
@* </div> *@
@* <div class="form-group"> *@
@*     <label asp-for="Email" class="control-label"></label> *@
@*     <input asp-for="Email" class="form-control"/> *@
@*     <span type="email" asp-validation-for="Email" class="text-danger"></span> *@
@* </div> *@
@* <div class="form-group row"> *@
@*     <div class="col-sm-6 mb-3 mb-sm-0"> *@
@*         <span asp-validation-for="Password" class="text-danger"></span> *@
@*         <input type="password" class="form-control form-control-user" asp-for="Password" placeholder="Password"> *@
@*     </div> *@
@* </div> *@